<% provide(:title, 'Home') %>
<div class="main-div">


  <div class="container main-section">
    <div class="center hero-unit main-page">
      <h1>Welcome To The DOTA BAZAAR</h1>
      <h2>Trade your DOTA 2 items with other players for free!</h2>
      <%= link_to image_tag("steam_nb.png", alt: "Sign In To Steam"), '/auth/steam' %>
    </div>

    <div class="row secondary-section">
          <div class="col-sm-4">
            <b class="glyphicon glyphicon-search main-glyph"></b>
            <h2>Search for items &amp; available for trade</h2>
            <p>Search through the Bazaar for items that are available for trade by other other players.</p>
          </div>
          <div class="col-sm-4">
            <b class="glyphicon glyphicon-list main-glyph"></b>
            <h2>List your items for trade for free</h2>
            <p>List up to 6 items from your DOTA backpack in return for up to 6 items you want in return in a single listing. </p>
         </div>
          <div class="col-sm-4">
            <b class="glyphicon glyphicon-user main-glyph"></b>
            <h2>Easily message other users to facilliate trading.</h2>
            <p>Message players who have the items you want to easily customize your DOTA characters!</p>
          </div>
    </div>
  </div>

      <hr>

  <% if signed_in? %>

  <div class="hello container">
      <% @listings.each do |listing| %>
          <div class="no-container">
             <div class="home-listing single-listing">
                <div class="title clearfix">
                  <%= link_to url_for([listing.user, listing]) do %>
                    <span class="messenger-name">
                      <% if listing.user.nil? %>
                      <span>No name</span>
                      <% else %>
                      <%= listing.user.steam_name %>
                      <% end %>
                       at <%= time_ago_in_words(listing.created_at) %> ago wanted to trade ... </span>
                  <% end %>

                  
                  <div class="btn-group pull-right">  
                      <% if current_user == listing.user %>
                          <div class="btn-group">
                          <button type="button" class="btn btn-inverse main-note-btn">
                              <i class="pull-right icon fa fa-pencil"></i>
                          </button>

                           <button type="button" class="btn btn-inverse">
                              <%= link_to new_user_message_path(current_user,  {recipient: listing.user}) do %>
                               <i class="pull-right icon fa fa-comment-o"></i>
                            <% end %>
                            </button>

                          <button type="button" class="btn btn-inverse"><%= link_to url_for([listing.user, listing]), {:method => :delete} do %>
                              <i class="pull-right icon glyphicon glyphicon-trash"></i>
                          <% end %>
                          </button>

                         </div>
                      <% else %>
                          <button type="button" class="btn btn-inverse note-btn">
                              <i class="pull-right icon fa fa-pencil"></i>
                          </button>

                          <button type="button" class="btn btn-inverse">
                            <%= link_to new_user_message_path(current_user,  {recipient: listing.user}) do %>
                             <i class="pull-right icon fa fa-comment-o"></i>
                          <% end %>
                          </button>
                      <% end %>
                  </div>
                </div>
                <div class="menu">
                  <div class="row clearfix">
                    <div class="list-items-offered col-xs-5">
                     <% listing.items_offered.each do |item| %>
                     <li class="item-li thumbnail <%= item.rarity %>" data-toggle="tooltip" data-placement="bottom" title="<%= item.rarity.capitalize unless item.rarity.nil? %> <%= item.name %>" data-id="<%= item.id %>" data-name="<%= item.name %>" data-rarity="<%= item.rarity %>" data-defindex="<%= item.defindex %>">
                                <a href="/items/<%= item.id %>"><img src="<%= item.image_url %>"></a> 
                         </li>
                     <% end %>
                    </div>

                      <span class="col-xs-1 offer-icon glyphicon glyphicon-transfer"></span> 

                      <div class="list-items-wanted col-xs-5">
                        <% listing.items_wanted.each do |item| %>
                          <li class="item-li thumbnail <%= item.rarity %>" data-toggle="tooltip" data-placement="bottom" title="<%= item.rarity.capitalize unless item.rarity.nil? %> <%= item.name %>" data-id="<%= item.id %>" data-name="<%= item.name %>" data-rarity="<%= item.rarity %>" data-defindex="<%= item.defindex %>">
                                <a href="/items/<%= item.id %>"><img src="<%= item.image_url %>"></a> 
                         </li>                            
                        <% end %>
                      </div>
                    </div>
                </div>

                <div class="note-section">
                  <div class="title clearfix">
                   <span>Notes</span>
                    
                  </div>

                  <div class="note-body menu">
                    <% if listing.comments.first.nil? %>
                    <span>No comment </span>
                    <% else %> 
                        <%= listing.comments.first.description %>
                    <% end %>
                  </div>
                </div>
              </div>
          </div>
      <% end %>
       <div class="pagination">
          <%= will_paginate @listings, renderer: BootstrapPagination::Rails, class: "pagination-lg" %>
      </div>
      
  </div>

  <% end %>
</div>
