
<div class="row">
    <h1>Messages</h1>
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="messages">Messages</a></li>
      <li><%= link_to "Sent Messages", sent_messages_user_messages_path(@user, @message) %></li>
      <li><%= link_to "Conversation", conversation_user_messages_path %></li>
    </ul>
    <% if @user.received_messages.blank? %>
       <div class="">
           <span>You don't have any messages yet. Message someone! :D</span>
       </div>
    <% else %>
        <% @user.received_messages.each do |message| %>
            <% unless @user.blocked_users.include?(message.messenger) %>
                <div class="message-section row" data-message-id=<%= message.id %>>
                    <%= link_to url_for(message.messenger) do %>
                      <div class="avatar col-xs-1">
                          <span>
                              <img class="img-responsive" src="<%= message.messenger.avatar_medium %>">
                          </span>
                      </div>
                    <% end %>

                    <div class="comment-header group col-xs-9">
                        <div class="title clearfix">
                            <%= link_to url_for(message.messenger) do %>
                            <span class="messenger-name"><%= message.messenger.steam_name %> posted <%= time_ago_in_words(message.created_at) %> ago...</span>
                            <% end %>
                            <div class="btn-group pull-right">
                              <% unless current_user == message.messenger %>
                                <div type="button" class="btn btn-inverse"><%= link_to new_user_message_path({recipient: message.messenger}) do %>
                                      <i class="pull-right icon fa fa-reply"></i>
                                  <% end %>
                                </div>
                              <% end %>
                              
                              <div type="button" class="btn btn-inverse"><%= link_to user_message_path({:id => message.id}) do %>
                                <i class="pull-right icon fa fa-comments"></i>
                              <% end %>
                              </div>

                               <div type="button" class="btn btn-inverse" data-toggle="modal" data-target="#myModal"><%= link_to url_for([@user, message]), class: "deleteButton" do %>
                                    <i class="pull-right icon glyphicon glyphicon-trash"></i>
                                <% end %>
                               </div>
                                
                                <% if message.status == "unread" %>
                                  <div type="button" class="mark-btn btn btn-inverse"><%= link_to marked_as_read_user_message_path(@user, message) do %>
                                      <i class="pull-right icon fa fa-check-square"></i>
                                  <% end %>
                                  </div>
                                <% end %>
                            </div>
                        </div>

                        <div class="menu comment-description">
                            <%= message.content %>
                        </div>
                    </div>
                 </div>
            <% end %>
        <% end %>
    <% end %>
  </div>
</div>
