<div class="container">
    <%= render 'layouts/messages_side_bar' %>

    <div class="span8">
        <% @user.received_messages.each do |message| %>
        <span class="user-avy span2">
            <img src="<%= message.messenger.avatar_medium %>">
        </span>

        <div class="user-message span6">
            <ul>
                <li>From: <%= message.messenger.steam_name %></li>
                <li>Content: <%= message.content %></li>
                <li><%= link_to "Coversation", user_message_path({:id => message.id}) %></li>
                <li><%= link_to "Respond", new_user_message_path({recipient: message.messenger}) %></li>
                <li><%= link_to "Delete Message", user_message_path(@user, :id => message.id), method: :delete,
                                                   data: { confirm: "are you sure?"} %></li>
            </ul>
        </div>
        <% end %> 
    </div>
</div>
