<div class="main-div">
    <div class="row">
        <div class="message-area col-xs-8">
            <div class="title">
                <span>Message to: <%= @recipient.steam_name %></span>
            </div>

            <%= form_for([@user, @message], html: {class: "message_form forms"}) do |f| %>
                <%= f.text_area :content, placeholder: "Type message here! :D" %>
                <%= hidden_field_tag(:recipient_id, @recipient.id) %>
                <%= f.submit "Submit Message", class: "btn btn-primary" %>
            <% end %>

        <% if flash.alert %>
            <div class="alert alert-danger alert-dismissable">
              <div type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</div>
              <strong>Sorry! Messages can't be blank.</strong>
            </div>
        <% end %>
        </div>
    </div>
</div>