<div class="main-div">
    <div class="row">
        <div class="col-xs-3">
            <%= render 'layouts/sidebar' %>
            <%= render 'layouts/messages_side_bar' %>
        </div>

        <div class="message-area col-xs-8">
            <div class="title">
                <span>Message to: <%= @recipient.steam_name %></span>
            </div>

            <%= form_for([@user, @message], html: {class: "message_form"}) do |f| %>
                <%= f.text_area :content, placeholder: "Type message here! :D" %>
                <%= hidden_field_tag(:recipient_id, @recipient.id) %>
                <%= f.submit "Submit Message", class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>
</div>