<!-- Conversation Section -->
<div class="main-div">
    <div class="row">
        <div class="col-xs-3">
            <% if signed_in? %>
                <%= render 'layouts/sidebar' %>
                <%= render 'layouts/messages_side_bar' %>
            <% end %>
        </div>

        <div class="col-xs-8">

        <% @conversation.each do |message| %>
            <% if message.messenger == current_user %>
            <div class="message-section row clearfix">
                <div class="avatar col-xs-1">
                    <span class=>
                        <img src="<%= message.messenger.avatar_medium %>">
                    </span>
                </div>

                <div class="comment-header group col-xs-11 clearfix">
                    <div class="title clearfix">

                        <span><%= message.messenger.steam_name %> Posted <%= time_ago_in_words(message.created_at) %> ago...</span>

                        <div class="btn-group pull-right">
                              <button type="button" class="btn btn-inverse"><%= link_to url_for([message.messenger, message]), {:method => :delete} do %>
                                <i class="pull-right icon glyphicon glyphicon-trash"></i>
                                <% end %>
                              </button>
                              <button type="button" class="btn btn-inverse"><%= link_to user_message_path({:id => message.id}) do %>
                                <i class="pull-right icon fa fa-comments"></i>
                                <% end %>
                              </button>
                        </div>
                    </div>

                    <div class="menu comment-description">
                        <%= message.content %>
                    </div>

                </div>
             </div>

             <% else %>

             <div class="message-section row clearfix">
                <div class="avatar col-xs-1">
                    <span class=>
                        <img src="<%= message.messenger.avatar_medium %>">
                    </span>
                </div>

                <div class="comment-header group col-xs-11 clearfix">
                    <div class="title clearfix">

                        <span><%= message.messenger.steam_name %> Posted <%= time_ago_in_words(message.created_at) %> ago...</span>

                        <div class="btn-group pull-right">
                              <button type="button" class="btn btn-inverse"><%= link_to url_for([message.messenger, message]), {:method => :delete} do %>
                                <i class="pull-right icon glyphicon glyphicon-trash"></i>
                                <% end %>
                              </button>
                                <button type="button" class="btn btn-inverse"><%= link_to new_user_message_path({recipient: message.messenger}) do %>
                            <i class="pull-right icon fa fa-reply"></i>
                        <% end %>
                              </button>
                              <button type="button" class="btn btn-inverse"><%= link_to user_message_path({:id => message.id}) do %>
                                <i class="pull-right icon fa fa-comments"></i>
                                <% end %>
                              </button>
                        </div>
                    </div>

                    <div class="menu comment-description">
                        <%= message.content %>
                    </div>

                </div>
            </div>
            <% end %>
        <% end %>
        </div>
    </div>
</div>