<div id="market">
    <div class="main-div">
        <div class="row">

            <% if signed_in? %>
                <div class="col-xs-3">
                    <%= render "layouts/sidebar" %>
                </div>

            <% else %> 

            <% end %>
                    <div class="col-xs-8">
                        <div class="search-listing-main">
                            <div class="search-section menu">
                                    <div class="title">
                                        <span>Search For Item In Listing</span>
                                    </div>
                                      <%= form_tag("/searched-items", method: "get", class: "item-search", id: "item-search form-val") do %>
                                          <%= label_tag(:search, "Search for:") %>
                                          <%= text_field_tag(:search, params[:search], class: "input-val") %>
                                          <%= submit_tag("Search", class: "btn btn-primary search-btn") %>
                                      <% end %>
                            </div>
                        </div>
                </div>   
        </div>
    </div>
</div>