<div id="market">
    <div class="main-div">
      <div class="row">

      <% if signed_in? %>
          <div class="col-xs-3">
              <%= render "layouts/sidebar" %>
          </div>

      <% else %> 

      <% end %>
          <div class="col-xs-9">
             <div class="search-listing-main">
                <div class="search-section menu">
                  <div class="title">
                      <span>Search For Item In Listing</span>
                  </div>
                    <%= form_tag("/searched-items", method: "get", class: "item-search", id: "item-search") do %>
                        <%= label_tag(:search, "Search for:") %>
                        <%= text_field_tag(:search, params[:search]) %>
                        <%= submit_tag("Search", class: "btn btn-primary search-btn") %>
                    <% end %>
                </div>
             </div>
              <% @listings.each do |listing| %>
                <div class="search-container">
                   <div class="home-listing single-listing">
                      <div class="title clearfix">
                        <%= link_to url_for([listing.user, listing]) do %>
                          <span class="messenger-name">
                            <% if listing.user.nil? %>
                              <span>No name</span>
                            <% else %>
                            <%= listing.user.steam_name %>
                              <% end %>
                             at <%= time_ago_in_words(listing.created_at) %> ago wanted to trade ... </span>
                        <% end %>

                        
                        <div class="btn-group pull-right">  
                            <% if current_user == listing.user %>
                                <div class="btn-group">
                                <button type="button" class="btn btn-inverse main-note-btn">
                                    <i class="pull-right icon fa fa-pencil"></i>
                                </button>

                                 <button type="button" class="btn btn-inverse">
                                    <%= link_to new_user_message_path(current_user,  {recipient: listing.user}) do %>
                                     <i class="pull-right icon fa fa-comment-o"></i>
                                  <% end %>
                                  </button>
                              
                                <button type="button" class="btn btn-inverse"><%= link_to url_for([listing.user, listing]), {:method => :delete} do %>
                                    <i class="pull-right icon glyphicon glyphicon-trash"></i>
                                </button>
                                <% end %>

                               </div>
                            <% else %>
                                <button type="button" class="btn btn-inverse note-btn">
                                    <i class="pull-right icon fa fa-pencil"></i>
                                </button>
                                

                               <% unless listing.user.nil? %>
                                  <button type="button" class="btn btn-inverse">
                                   <%= link_to new_user_message_path(current_user,  {recipient: listing.user}) do %>
                                     <i class="pull-right icon fa fa-comment-o"></i>
                                  <% end %>
                                </button>
                               <% end %>
                              
                            <% end %>
                        </div>
                      </div>
                      <div class="menu">
                        <div class="row clearfix">
                          <div class="list-items-offered col-xs-5">
                           <% listing.items_offered.each do |item| %>
                              <li class="item-li thumbnail" data-toggle="tooltip" data-placement="bottom" title="<%= item.name %>" data-id="<%= item.id %>" data-name="<%= item.name %>" data-defindex="<%= item.defindex %>">
                                <a href="/items/<%= item.id %>"><img src="<%= item.image_url %>"></a> 
                              </li>
                           <% end %>
                          </div>

                            <span class="col-xs-1 offer-icon glyphicon glyphicon-transfer"></span> 

                            <div class="list-items-wanted col-xs-5">
                              <% listing.items_wanted.each do |item| %>
                                <li class="item-li thumbnail" data-toggle="tooltip" data-placement="bottom" title="<%= item.name %>" data-id="<%= item.id %>" data-name="<%= item.name %>" data-defindex="<%= item.defindex %>">
                                    <a href="/items/<%= item.id %>"><img src="<%= item.image_url %>"></a> 
                                </li>                              
                              <% end %>
                            </div>
                          </div>
                      </div>

                      <div class="note-section">
                        <div class="title clearfix">
                         <span>Notes</span>
                          
                        </div>

                        <div class="note-body menu">
                          <% if listing.comments.first.nil? %>
                          <span>No comment </span>
                          <% else %> 
                              <%= listing.comments.first.description %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                </div>
            <% end %>
            <div class="pagination container">
                <%= will_paginate @listings, renderer: BootstrapPagination::Rails, class: "pagination-lg" %>
            </div>
          </div>
        </div>
    </div>
</div>