<div class="container" id="market">
    <h1>Welcome <%= @user.steam_name %></h1>
    <div class="user-info span6">
        <div>
          <img class="avatar" src=<%= @user.avatar_medium %> />
            <div class="user-data user-name" data-user-id=<%= @user.id %>>
              <b><%= @user.steam_name %></b>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="span12">
        <div class="span5">
            <div class="items-offered">
                <h1>Items Offered</h1>
                <ul>
                    <li class="item-slot"></li>
                    <li class="item-slot"></li>
                    <li class="item-slot"></li>
                    <li class="item-slot"></li>
                    <li class="item-slot"></li>
                    <li class="item-slot"></li>
                </ul>
            </div>
        </div>
        
        <div class="span5">
            <div class="items-wanted">
                <h1>Items Wanted</h1>
                <ul>
                    <li class="item-slot"></li>
                    <li class="item-slot"></li>
                    <li class="item-slot"></li>
                    <li class="item-slot"></li>
                    <li class="item-slot"></li>
                    <li class="item-slot"></li>
                </ul>
            </div>
        </div>
      </div>
    </div>

    <button type="submit" id="test" value="test" class="btn btn-primary">Submit</button>

    <div class="test">
        
    </div>

    <div class="response span6">
        <h1>Response</h1>
    </div>


        <div class="row">
                <div class="span12">
                    <div class="backpack">
<!-- rails view rendering
                    <ul>
                      <% @user.items.each do |item| %>
                        <li class="item-div" data-item-id="<%= item.id%>" id="<%= item.id%>">
                            <a href="/items/<%= item.id %>"><img class="item-img" src="<%= item.image_url %>"></a>
                        </li>
                      <% end %>
                    </ul>
-->                 </div>
                </div>
              <!-- </div> -->
        </div>
    
</div>

<script type="text/javascript">

    var appView = new Market.Views.App()
    var playerItems  = new Market.Collections.Item;
    playerItems.reset(<%= raw @user.user_items.to_json %>);
    var playerItemsView = new Market.Views.ItemCollection({collection: playerItems});

</script>


