<div class="container" id="market">
    <h1>Welcome <%= @user.steam_name %></h1>
    <div class="user-info span6">
        <div>
          <img class="avatar" src=<%= @user.avatar_medium %> />
            <div class="user-data user-name" data-user-id=<%= @user.id %>>
              <b><%= @user.steam_name %></b>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="span12">
        <div class="span5">
            <h1>Items Offered</h1>
            <div class="items-offered">
                 
            </div>
        </div>
        
        <div class="span5">
            <h1>Items Wanted</h1>
            <div class="items-wanted">
        
        </div>


        </div>
      </div>
    </div>

    <%= form_for @user_listing, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>

            <%= f.submit "Create Button", class: "btn btn-primary" %>
    <% end %>

    <button type="submit" id="test" value="test" class="btn btn-primary">Submit</button>


    <button type="submit" id="reload" value="test" class="btn btn-danger">Reload</button>

    <div class="test">
        
    </div>

            <div class="rails-search">

              <%= form_tag("/search", method: "get", remote: true, id: "item-search") do %>
              <%= label_tag(:search, "Search for:") %>
              <%= text_field_tag(:search, params[:search]) %>
              <%= submit_tag("Search", class: "btn search-btn") %>

              <% end %>

            </div>

    <%= form_tag({controller: "user_listings", action: "create"}, method: "post", class: "super-form") do %>
        <%= hidden_field_tag(:offer) %>
        <%= hidden_field_tag(:wanted) %>
        <%= submit_tag("Test1", class: "test1") %>
    <% end %>

    <div class="response span6">
        <h1>Response</h1>
    </div>


        <div class="row">
                <div class="span12">
                    <div class="backpack">
<!-- rails view rendering
                    <ul>
                      <% @user.items.each do |item| %>
                        <li class="item-div" data-item-id="<%= item.id%>" id="<%= item.id%>">
                            <a href="/items/<%= item.id %>"><img class="item-img" src="<%= item.image_url %>"></a>
                        </li>
                      <% end %>
                    </ul>
-->                 </div>
                </div>
              <!-- </div> -->
        </div>
    
</div>

<script type="text/javascript">

    // AppView

    var appView = new Market.Views.App()

    // creating the Backpack

    var backpack  = new Market.Collections.Item();
    backpack.reset(<%= raw @user.user_items.to_json %>);
    console.log(<%= raw @user.user_items.to_json %>);
    console.log(backpack);
    var backpackView = new Market.Views.ItemCollection({collection: backpack});

    // items offered

    var itemsOfferedCollection = new Market.Collections.ItemSlots();
    var itemsOfferedCollectionView = new Market.Views.ItemsOfferedCollection({collection: itemsOfferedCollection});

    // items wanted

    var itemsWantedCollection = new Market.Collections.ItemSlots();
    var itemsWantedCollectionView = new Market.Views.ItemsWantedCollection({collection: itemsWantedCollection});

</script>
