<div id="market">
    <div class="main-div row">
        <div class="col-xs-12">
                <div class="selection-menu menu row">
                    <div class="title">
                        <span>New Trade</span>
                    </div>
                    <div class="col-xs-6 items-offered">
                        <h5>Items Offered</h5>
                        <ul class="clearfix item-offered-slots" id="items-offered">
                            <li class="highlighted item-slot"></li>
                            <li class="item-slot offered-slot"></li>
                            <li class="item-slot offered-slot"></li>
                            <li class="item-slot offered-slot"></li>
                            <li class="item-slot offered-slot"></li>
                            <li class="item-slot last-slot"></li>
                        </ul>
                    </div> 
                    <span class="offer-icon glyphicon glyphicon-transfer"></span>   
        
                    <div class="col-xs-6 items-wanted" id="items-wanted">
                        <h5>Items Wanted</h5>
                        <ul class="clearfix item-wanted-slots">
                           <li class="item-slot wanted-slot"></li>
                           <li class="item-slot wanted-slot"></li>
                           <li class="item-slot wanted-slot"></li>
                           <li class="item-slot wanted-slot"></li>
                           <li class="item-slot wanted-slot"></li>
                           <li class="item-slot wanted-slot last-slot"></li>
                        </ul>
                    </div>
                </div>

                <div class="search-main">
                    <div class="search-section menu">
                            <div class="title">
                                <span>Search For Item</span>
                            </div>
                              <%= form_tag("/search", class: "item-search", method: "get", remote: true, id: "item-search") do %>
                              <%= label_tag(:search, "Search for:") %>
                              <%= text_field_tag(:search, params[:search]) %>
                              <%= submit_tag("Search", class: "btn btn-primary search-btn") %>
                              <% end %>
                    </div>
    
                    <div class="response-section menu">
                        <div class="title">
                            <span>Searched Items</span>
                        </div>
                        <div class="response">
                            <h2 class="response-message">Searched items show up here</h2>
                        </div>
                    </div>
                </div>
    
                <div class="backpack-section menu">
                    <div class="title clearfix">
                        <span>Backpack (<%= @user.user_items.count %> items) </span>
                        <a type="submit" id="reload" class="btn btn-default pull-right">Reload Backpack</a>
                    </div>
                    <div class="backpack clearfix">
                        
                    </div>
                </div>

                <div class="add-note menu">
                    <div class="title">
                        <span>Notes</span>
                    </div>
                    <div class="notes">
                        <%= text_area_tag(:notes, "", class: "notes-input", placeholder: "Type any notes here to accompany your listing :D") %>
                    </div>
                </div>

                <div class="text-center">
                    <%= form_tag({controller: "user_listings", action: "create"}, method: "post", class: "super-form") do %>
                        <%= hidden_field_tag(:offer) %>
                        <%= hidden_field_tag(:wanted) %>
                        <%= hidden_field_tag(:listnote) %>
                        <%= submit_tag("Create Listing", class: "submit-button disabled btn btn-primary") %>
                    <% end %>
                </div> 
        </div>   
    </div>

    <div class="">
        <ul id="testView">
            
        </ul>
    </div>
</div>


<script type="text/javascript">

    // AppView

    var appView = new Market.Views.App()

    // creating the Backpack

    var backpack  = new Market.Collections.BackpackItems();
        backpack.reset(<%= raw @user.user_items.to_json %>);
    var backpackView = new Market.Views.BackpackItemCollection({collection: backpack});

    var itemsWantedCollection = new  Market.Collections.WantedSlots();
    var itemsWanted = new Market.Views.WantedSlots({collection: itemsWantedCollection });
</script>
