        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">         
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">DOTA DEALS</a>
                </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><%= link_to "Home", root_path %></li>
                        <% if signed_in? %>
                             <li><%= link_to "Profile", current_user %></li>
                             <li><%= link_to "New Listing", new_user_user_listing_path(current_user) %></li>
                             <li><%= link_to "Listings", user_user_listings_path(current_user) %></li>
                             <% if unread_messages(current_user) > 0 %>
                             <li><%= link_to "Messages (#{unread_messages(current_user)} unread)", user_messages_path(current_user) %></li>
                             <% else %>
                            <li><%= link_to "Messages", user_messages_path(current_user) %></li>
                             <% end %>
                             <li><%= link_to "Search", search_new_path %></li>
                             <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
                             <!--
                             <li id="fat-menu" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Account <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><%= link_to "Profile", current_user %></li>
                                    <li><%= link_to "Settings", faq_path %></li>
                                    <li class="divider"></li>
                                    <li>
                                        <%= link_to "Sign out", signout_path, method: "delete" %>
                                    </li>
                                </ul>
                              </li>
                              -->

                        <% else %>
                            <li><%= link_to "About", about_path %></li>
                            <li><%= link_to "FAQ", faq_path %></li>
                            <li><%= link_to "Sign in", "/auth/steam" %></li>
                        <% end %>
                    </ul>
            </div>
        </nav>
