<% unless listing.user.other_users.include?(current_user) %>
  <div class="single-listing">
    <div class="title clearfix">
      <%= link_to url_for([listing.user, listing]) do %>
      <span class="messenger-name">  
          <% if listing.user.nil?  %>
            No name
          <% else %>
            <%= listing.user.steam_name %> 
          <% end %>
        at <%= time_ago_in_words(listing.created_at) %> ago wanted to trade ... </span>
      <% end %>
      <!-- BUTTONS -->
      <div class="btn-group pull-right">
        <div type="button" class="btn btn-inverse note-btn">
                <i class="pull-right icon fa fa-pencil"></i>
        </div>

        <% unless current_user == listing.user %>
          <div type="button" class="btn btn-inverse">
            <%= link_to new_user_message_path(current_user,  {recipient: listing.user}) do %>
             <i class="pull-right icon fa fa-comment-o"></i>
          <% end %>
          </div>
        <% end %>
        
        <% if current_user == listing.user %>
          <div type="button" class="btn btn-inverse" data-toggle="modal" data-target="#myModal"><%= link_to user_user_listing_path(listing.user, listing), class: "deleteButton" do %>
                <i class="pull-right icon glyphicon glyphicon-trash"></i>
            <% end %>
            </div>
        <% end %>
      </div>
    </div>

    <div class="menu">
      <div class="row clearfix">
        <div class="list-items-offered col-xs-5">
         <% listing.items_offered.each do |item| %>
            <li class="item-li thumbnail <%= item.rarity %>" data-toggle="tooltip" data-placement="bottom" title="<%= item.rarity.capitalize unless item.rarity.nil? %> <%= item.name %>" data-id="<%= item.id %>" data-name="<%= item.name %>" data-rarity="<%= item.rarity %>" data-defindex="<%= item.defindex %>">
              <a href="/items/<%= item.id %>"><img src="<%= item.image_url %>"></a> 
            </li>
         <% end %>
        </div>

        <span class="col-xs-1 offer-icon glyphicon glyphicon-transfer"></span> 

        <div class="list-items-wanted col-xs-5">
         <% listing.items_wanted.each do |item| %>
            <li class="item-li thumbnail <%= item.rarity %>" data-toggle="tooltip" data-placement="bottom" title="<%= item.rarity.capitalize unless item.rarity.nil? %> <%= item.name %>" data-id="<%= item.id %>" data-name="<%= item.name %>" data-rarity="<%= item.rarity %>" data-defindex="<%= item.defindex %>">
            <a href="/items/<%= item.id %>"><img src="<%= item.image_url %>"></a> 
            </li>
         <% end %>
        </div>
      </div>
    </div>

    <div class="note-section">
      <div class="title clearfix">
       <span>Notes</span>
        
      </div>

      <div class="note-body menu">
        <% if listing.comments.first.nil? %>
        <span>No comment </span>
        <% else %> 
            <%= listing.comments.first.description %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>