<div class="row menu">
  <div class="title">
      <%= link_to url_for(@listings.user) do %>
        <span><%= @listings.user.steam_name %> at <%= time_ago_in_words(@listings.created_at) %> ago wanted to trade ...</span>
      <% end %>
  </div>

  <div class="col-xs-6 items-offered">
    <h3>Items Offered:</h3>
    <% @listings.items_offered.each do |item| %>
           <li class="item-li thumbnail <%= item.rarity %>" data-toggle="tooltip" data-placement="bottom" title="<%= item.rarity.capitalize unless item.rarity.nil? %> <%= item.name %>" data-id="<%= item.id %>" data-name="<%= item.name %>" data-rarity="<%= item.rarity %>" data-defindex="<%= item.defindex %>">
                <a href="/items/<%= item.id %>"><img src="<%= item.image_url %>"></a> 
              </li>
    <% end %>
  </div>
  <div class="col-xs-6 items-wanted">
    <h3>Items Wanted:</h3>
    <% @listings.items_wanted.each do |item| %>
           <li class="item-li thumbnail <%= item.rarity %>" data-toggle="tooltip" data-placement="bottom" title="<%= item.rarity.capitalize unless item.rarity.nil? %> <%= item.name %>" data-id="<%= item.id %>" data-name="<%= item.name %>" data-rarity="<%= item.rarity %>" data-defindex="<%= item.defindex %>">
                <a href="/items/<%= item.id %>"><img src="<%= item.image_url %>"></a> 
            </li>
    <% end %>
  </div>
</div>
    
    <% if signed_in? %>
      <div class="commenting-area">
        <div class="title">
                    <span>New Comment</span>
        </div>
        <%= form_for([@listings, Comment.new], {class: "forms-val"}) do |f| %>
                <%= f.text_area :description, placeholder: "Type comments here" %>
                <%= hidden_field_tag(:listing_id, @listings.id) %>
                <%= hidden_field_tag(:user_id, current_user.id) %>
                <%= f.submit "Add Comment", class: "btn btn-primary" %>
        <% end %>
    <% end %>
      <%= render "layouts/comment" %>
   </div>
 </div>
