<!DOCTYPE html>
<html>
    <head>
      <title><%=  full_title(yield(:title)) %></title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <%= render 'layouts/shim' %>

    </head>
    <body>
    
          <%= render 'layouts/header' %>
          
     <div class="container">
        <%= yield %>
     </div> 

    <% flash.each do |type, message| %>
      <div class="alert flash alert-<%= type %> alert-dismissable goodbye">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong><%= message %></strong>     
      </div>
    <% end %>

    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body">
        Are you sure you want to delete?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a class="btn btn-primary" data-method="delete">Save changes</a>
      </div>
    </div>
  </div>
</div>

    <%= render 'layouts/footer' %>
</body>
    <%= javascript_include_tag "market" %>

</html>
